body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.readonly
{
  background-color: lightgrey;
  color: #fefefe;
}





input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.botones {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

input[type=button] {
  width: auto;

}

/*--------------------------------Proyecto-------------------------*/


/* Botones, tama침os y tablas*/
.imagenTitulo{
  left: 0;
  margin-left: 150px;
  margin-right: 0px;
  margin-top: 5px;
  margin-bottom: 2px;
  float: left;
}
.titulo{
  width: 15%;
  padding: 22px;
  padding-right: 0;
  padding-left: 0;
  margin: 0px;
  color: black;
  margin-right:  12%;
}
.nav{
  margin-top: 20px;
  margin-left: 20%;
}
.nav-link{
  color: black;
  text-decoration: none;
}
.nav-menu{
  list-style: none;
  display: flex;
  padding:0;
}
.nav-menu-item {
  right: 0;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 15px;
  font-size: 17px;
}
.link{
  text-decoration: none;
}
.descripcionformulario{
  font-size: 24px;
}
.tama침o {
  font-size: 40px;
}
.descripcion {
  font-size: 24px;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: 35%;
}
.body{
  background-color: #2389a8;

}
.formulario{
  margin-top: 40px;
  width:440px;
  height:540px;
  background:#4CCDF5;
  border-radius:9px;
  box-shadow:0 0 50px -20px #000;
  margin:calc(44.2vh - 230px) auto;
  padding:20px 40px;
  max-width:calc(200vw - 50px);
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
  position:relative;

}
input:focus{
  border-bottom:2px solid #78788c;
}
.tituloForm{
  margin:10px 0;
  padding-bottom:10px;
  border-bottom:3px solid #78788c;
}
input{
  margin-bottom: 10px;
  width:100%;
  padding:7px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat',sans-serif;
  transition:all .3s;
  border-bottom:2px solid #fff;
}
button{
  float:center;
  padding:8px 12px;
  margin:8px 0 0;
  font-family:'Montserrat',sans-serif;
  border:2px solid #78788c;
  background:0;
  color:#5a5a6e;
  cursor:pointer;
  transition:all .3s;
  border-radius: 40px;
}
button:hover{
  background:#78788c;
  color:#fff;
}

textArea{
  width: 100%;
}

.titular{
  text-align: center;
  font-family: arial;
  margin-bottom: 20px;
  font-size: 40px;
}

.tablota {
  margin:calc(60.2vh - 90px) auto;
  padding:10px 40px;
  box-shadow:0 0 50px -20px #000;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 40px;
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}

.newnew {
  border: 1px solid #fff;
  padding: 5px;
  background-color: #69DCFF;
  border-radius: 40px;
  text-decoration: none;

  font-family: 'Fira Sans Condensed', sans-serif;

}
.DCLIENTE{
  width:640px;
  height:740px;
  background:#4CCDF5;
  border-radius:10px;
  box-shadow:0 0 70px -40px #000;
  margin:calc(30.2vh - 200px) auto;
  padding:40px 60px;
  max-width:calc(200vw - 50px);
  box-sizing:border-box;
  font-family: Arial;
  position:relative;

}

.Registro{
  width:640px;
  background:#4CCDF5;
  border-radius:10px;
  box-shadow:0 0 70px -40px #000;
  margin:calc(30.2vh - 200px) auto;
  padding:40px 60px;
  max-width:calc(200vw - 50px);
  box-sizing:border-box;
  font-family: Arial;
  position:relative;

}

.contenido {
  top: 6.7%;
  left: 0;
  height: 100%;
  width: 100%;
  color: black;
  overflow: auto;
}
.titulo_seccion{
  padding: 10px 0px 50px 250px;
  color: #fff;
  font-size: 23px;
  font-family:'Montserrat',sans-serif;
}

/*Opciones y partes de noticias*/
.noticia{
  width:70%;
  height:200px;
  border-style: solid;
  border-color: #69DCFF;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  max-width:calc(200vw - 50px);
  font-family:'Montserrat',sans-serif;
  position:relative;
  display: flex;
}
.figura{
  text-align: center;
  width:40%;
  background:#69DCFF;
  border-radius:9px;
  box-shadow:0 0 50px -20px #000;
  padding:0;
  max-width:calc(200vw - 50px);
  float: right;
  transition:all .3s;
}
.resumen{
  width: 60%;
  padding: 20px;
  padding-right:10px;
  text-align: left;
  color: black;
}

.figura:hover{
  transform:scale(1.25);
}

.banner--noticia {
  margin:40% auto;
  padding:10px 40px;
  box-shadow:0 0 50px -20px #000;
  box-sizing:border-box;
  background:#4CCDF5;
  font-family: arial;
  width: 70%;
  height: 60%;
  margin-top: 40px;
  border-radius: 40px;
}
.titulo--noticia{
  margin:10px 0;
  padding-bottom:10px;
  color:  #000;
  font-size: 30px;
  margin-left: 230px;
}
.contenido--noticia{
  font-family: 'Helvetica', sans-serif;
  text-align: left;
  margin-right: 10px;
  margin-left: 20px;
  font-size: 23px;
}
.imagen--noticia{
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  width: 45%;
  height: 70%;
  border-radius: 20px;
}



/*Secci칩n caja comentarios*/
.barraComentario--cajaComentario {
  height: auto;
  width: auto;
  max-width: 100%;
  margin: 0;
  position: relative;
}
.barraComentario--form {
  position: relative;
}
.barraComentario--input-cajaComentario {
  padding: 0 66px 0 0;
}
.barraComentario--input {
  width: 100%;
  background-color: white;
}
.barraComentario {
  padding: 10px 400px 0px 350px;
}
.barraComentario--input {
  box-sizing: content-box;
  height: 30px;
  padding: 0 10px 0px 46px;
  border-radius: 35px;
  color: #000;
  font-family: 'Helvetica', sans-serif;
  font-size: 26px;
  margin-bottom: 0;
  border: 0;
}

.tituloComentario{
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

/*secci칩n usuarios de comentarios*/
.lineas--comentario{
  width:100%;
  height:auto;
  border-style: solid;
  border-color: #69DCFF;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: auto;
  padding-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-family:'Montserrat',sans-serif;
  position:relative;
}
.tabla--comentario{
  padding:10px 40px;
  box-shadow:0 0 50px -20px #000;
  box-sizing:border-box;
  background:#4CCDF5;
  font-family: 'Montserrat',sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  margin-top: 55px;
  margin-bottom: 10px;
  border-radius: 40px;
  position: relative;
}

.imagenUsuario--comentario{
  left: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  float: left;
}

.colorPrimario{
  color:  #2389A8;
}

.tbl-header{
  background-color: rgba(255,255,255,0.3);

}

.tbl-header th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 20px
}

.tbl-content  td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);

}

.tbl-content{
  height:120px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
  display: grid;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.div-users{
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
  display: grid;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.div-users td{
  
  padding: 15px;
  vertical-align:middle;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

.tbl-users{
  margin: calc(60.2vh - 90px) auto;
  height:300px;
  overflow-x: auto;
  margin-top: 20px;
}

